<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="column">
        <div id="head">
            <div id="book">BookSpace</div>
            
            <br>
        </div>
        
        <div id="label">
            <div class="row1">

                <a><div id = "stays">Stays</div></a>
                <a><div id=" hotel">Hotel</div></a>
                <a><div id="cr">Car_Rentals</div></a>
                <a><div id="ac">Attraction</div></a>
                <a><div id="at">Airport_Taxis</div></a>

                
                                <button id ="signI_btn" onclick=""><i class="fas fa-user"></i>&nbsp;Register</button>
                                <button id ="signinI_btn" onclick="">Login</button></div> 
                
            </div>
            
        </div>
        <br><br><br>
    {{!-- <div id="centered-image">
    </div> --}}
<div id="center_block">
    <div  id ="block">
        <div id = "pr">
            <p>Welcome</p>
        <div id="centered-image"></div>
        <div id="centered-image2"></div>
        </div>
        
        <br><br>
        <div id="block2">
            <p>Sign In <br>to continue access</p>
            <div id="centeredI-image"></div>
            <div id="centeredI-image2"></div>
        </div>
    </div>

        <div id="login-box" style="height: 400px;">
                <form action="/login" method="POST">
                <div class="login-form">
                <h2 style="color: rgb(0, 0, 0);">Sign Up</h2>
                
                    <div class="form-group">
                        <label for="">E-Mail</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-envelope input-icon"></i><br>
                            <input type="email" id="email" name="email" required > <br><br>

                           

                            <label for="password">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-lock input-icon"></i><br>
                            <input type="password" id="password" name="password" required> <br><br>



                            <div class="row">
                                <input type="checkbox" id="myCheckbox" name="myCheckbox" value="checked" style="width: 20px;margin-top: 20px; ">&nbsp;&nbsp;&nbsp;<p style="color: rgb(0, 0, 0);">Remember Me</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href=" " style="color: rgb(0, 0, 0);margin-top: 15px;text-decoration: none;" >Forgot password?</a>
                            </div>
                    
                    <div style="justify-content: center; width: 80%;"><br><br><br><br>
                    <button class="login-button" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
</div>
        
</div>

</div>
<script src="https://kit.fontawesome.com/e40b1abb98.js" crossorigin="anonymous"></script>
</body>
</html>